
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: "宋体"
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: "宋体"
}
.title3 {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体"
}

.title4 {
	FONT-SIZE: 9px; FONT-FAMILY: "宋体"
}

.title5 { color:Teal
	FONT-SIZE: 10px; FONT-FAMILY: "宋体" 
}

.title10 { 
	FONT-SIZE: 11pt; FONT-FAMILY: "宋体" 
}

.title11 { 
	FONT-SIZE: 14pt; FONT-FAMILY: "宋体" 
}

.cart1 {
	FONT-SIZE: 9pt; COLOR: #cccccc; FONT-FAMILY: "宋体"
}


 	
